.background {
    background-color: #3e74af1;
/* Changed color due to customer preference */
    height: 100%;
}

.card {
    background-color: transparent !important;
    color: #fff;
    border: none;
    margin-top: 35%;
}

.btn[type=submit]{
    border-radius: 50px;
}

.btn-link {
    color: #fff;
}

h1 {
    color: #fff;
}
